@model HealtyVet.Models.PetOwnerModel.GetAllFeedbacksViewModel
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Despre</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/grid.css">
</head>
<body>
    <!-- Content -->
    <div class="container_24">
        <div class="indent-bot">
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Implant de microchip</h3>
                        <p>
                            Folosim cea mai noua inovatie pentru implantarea de chip-uri pentru ca animalutul dumneavoastra sa fie mai protejat si mai sanatos.
                        </p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Ultrasunete</h3>
                        <p>Ultrasunetele reprezinta unul din cele mai importante servicii de consult pentru animale. Reducere 50% la serviciul de ultrasunete pentru animalele inregistrate in baza noastra de date si carnet cu pedigree.</p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Transport</h3>
                        <p>
                            Pentru animalele care necesita mai multa atentie(sau cele fara stapan),oferim transport gratuit si confortul sporit. Transportul se asigura si in alte localitati cu masina speciala si personal calificat.
                        </p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Vaccinarea</h3>
                        <p>
                            Veniti cu animalutul de companie la clinica noastra si beneficiati de primul vaccin gratuit, iar la al doilea reducere de 10% avand carnet de sanatate si mai primiti  un voucher la implantul de microchip.
                        </p>
                    </div>
                </div>
            </article>
            <div class="clear"></div>
        </div>
        <div class="wrapper indent-bot-1">

            <h2>Despre noi si despre clinica noastra:</h2>
            <p style="color:indigo">
                Intr-un spatiu modern, clinica dispune de sali de tratamente, de operatie, de asteptare, pet shop si farmacie veterinara, salon de cosmetica canina.
                In cadrul clinicii veterinare se realizeaza consultatii si tratamente, investigatii ecografice, analize de laborator, interventii chirurgicale, detartrari.
                <br />
                <img src="~/Images/5.jpg" alt="da" />
                Pentru ca stim cat este de important ca animalutul tau sa primeasca ingrijirea completa, clinica noastra are inclusiv posibilitatea de internare, in regim de spital.
                Cazurile cele mai dificile au nevoie uneori de tratament si monitorizare permanenta, care nu se poate face in sistem ambulatoriu, intr-un cabinet simplu. Aici devine utila posibilitatea de a interna animalutele la spitalul veterinar, lucru care asigura ingrijirea de catre specialist 24h din 24.
                In cadrul spitalului, pacientii nostri vor avea parte de atentie permanenta si aplicarea tratamentului exact atunci cand este nevoie, fara sa fie mai fie supusi la stresul unui drum cu masina.
                </br>
                <img src="~/Images/vetclinic.jpg" />
            </p>



        </div>
        <div class="hr-border"></div>
        <div class="a1">
            <h2>Clientii nostri:</h2>

            <a href='@Url.Action("AddFeedback", "PetOwner")' class="btn btn-secondary">Adauga comentariu:</a>
            <table class="table">
                <thead>
                    <tr>


                        <th style="text-align:center">

                        </th>

                        <th style="text-align:center"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Feedbacks)
                    {

                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(model => item.Description)
                            </td>
                            <td style="text-align:center">
                                <a asp-action="DeleteFeedback" asp-route-id="@item.Id" class="btn btn-secondary">Sterge comentariu</a>
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        </body>

 



