
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/forms.css">

</head>
<body>
        <div class="wrapper">
            <article class="grid_7 suffix_1">
                <h2>Informatii contact:</h2>
                <img src="~/Images/catphone.jpg" alt="cat" style="display:inline">

                <strong class="str-4">Ne puteti contacta pentru programari si servicii folosind informatiile de mai jos.Va asteptam cu drag la clinica noastra.</strong>

                <dl class="adress">
                    <dd><span>Adresa</span>Strada Lalelelor nr. 56</dd>
                    <dd><span>Telefon:</span>0030456789</dd>
                    <dd><span>Fax:</span>00304565679</dd>
                    <dd><span>Info:</span><a href="#">mail@pethealthy.ro</a></dd>




                </dl>
            </article>
            </div>
  </body>
