 <body id="page1">
    
    <!-- Content -->
      <!--<div class=" align-self-lg-center">
      <a class="nav-link text-dark "  asp-area="Identity" asp-page="/Account/_PetOwnerRegisterPartial" > <button class="btn btn-success">Inregistrare client</button></a>
    </div>
    <div class=" align-right-lg-center">
        <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/_DoctorRegisterPartial"><button class="btn btn-success">Inregistrare doctor</button></a>
   </div>-->
    
     
     
     <img src="~/Images/welcome.jpg" alt="welcome" class="center" />
    <div class="container_24">
        <div class="indent-bot">
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Implant de microchip</h3>
                        <p>
                            Folosim cea mai noua inovatie pentru implantarea de chip-uri pentru ca animalutul dumneavoastra sa fie mai protejat si mai sanatos.
                        </p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Ultrasunete</h3>
                        <p>Ultrasunetele reprezinta unul din cele mai importante servicii de consult pentru animale. Reducere 50% la serviciul de ultrasunete pentru animalele inregistrate in baza noastra de date si carnet cu pedigree.</p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Transport</h3>
                        <p>
                            Pentru animalele care necesita mai multa atentie(sau cele fara stapan),oferim transport gratuit si confortul sporit. Transportul se asigura si in alte localitati cu masina speciala si personal calificat.
                        </p>
                    </div>
                </div>
            </article>
            <article class="grid_6">
                <div class="box-1">
                    <div class="inner">
                        <h3>Vaccinarea</h3>
                        <p>
                            Veniti cu animalutul de companie la clinica noastra si beneficiati de primul vaccin gratuit, iar la al doilea reducere de 10% avand carnet de sanatate si mai primiti  un voucher la implantul de microchip.
                        </p>
                    </div>
                </div>
            </article>
            <div class="clear"></div>
        </div>
        <div class="indent-bot-1">
            <div class="grid_6">
                <div class="inner-indent">
                    <h2>Ce oferim</h2>
                    <ul class="list-1">
                        <li>Sediu privat si ultracentral</li>
                        <li>Cabinete cu ultima tehnologie</li>
                        <li>Personal empatic si placut</li>
                        <li>Atmosfera unica si placuta</li>
                    </ul>
                </div>
            </div>
            <div class="grid_6 suffix_1">
                <div class="box-2">
                    <h2>Inovare</h2>
                    <p class="p1">
                        <strong class="str-2">
                            Oferim servicii medicale în timpul programului de lucru sau în regim de urgență, atât la clinica noastra cât și la domiciliu.
                        </strong>
                </div>
            </div>
            <div class="grid_11 indent-top">

                <div class="wrapper">
                    <figure class="img-indent">

                        <div class="author">
                            <img src="~/Images/doctor.png" alt="doctor" />
                            <em>Mihaela Popescu</em>
                            (medic primar veterinar)
                        </div>
                    </figure>
                    <blockquote class="quote extra-wrap">
                        Suntem nerbadatori sa va cunoastem si in special sa avem ocazia sa va oferim cel mai bun consult si cea mai buna tehnologie utilizata pentru sanatatea animalului dumneavoastra. Va asteptam la clinica noastra!

                    </blockquote>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="hr-border"></div>
        <div class="wrapper">
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">
                    <span class="dropcap">1.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Reabilitare in salbaticie
                            </dt>
                            <dd class="extra">
                                Animalele exotice beneficiaza de consult si reabilitare a locului unde traiesc.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">
                    <span class="dropcap">4.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Servicii speciale pentru pui
                            </dt>
                            <dd>
                                Oferim servicii pentru puii abandonati.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">
                    <span class="dropcap">2.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Servicii de neuitat
                            </dt>
                            <dd>
                                Va veti reintoarce cu amintiri frumoase deoarece ne ocupam serios si cu mult drag de ingrijirea animalelor.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">
                    <span class="dropcap">5.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Servicii funebre pentru animale
                            </dt>
                            <dd>
                                Pentru animalutele care din pacate nu reusesc sa reziste, avem o camera special amenajata unde se pot pastra pana la revendicarea acestora.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="grid_7 suffix_1">
                <div class="wrapper hr-border-1">
                    <span class="dropcap">3.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Laborator de diagnostic
                            </dt>
                            <dd>
                                Laboratorul nostru de cercetare este dotat cu aparatura specifica pentru a depista diferitele boli genetice sau de alta natura.
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="wrapper">
                    <span class="dropcap">6.</span>
                    <div class="extra-wrap">
                        <dl class="def-list-1">
                            <dt>
                                Receptie si urgenta non stop
                            </dt>
                            <dd>
                                Ne puteti suna la numarul afisat sau puteti sa ne intrebati pe mail daca intampinati dificultati sau aveti probleme.
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

