<head>
  
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   
    <!-- Content -->
    <div class="wrapper">
        <article class="grid_7 suffix_1">
            <h1 style="color:darkolivegreen ">Animalele saptamanii</h1>
            <h3> In fiecare saptamana, afisam cele mai originale 3 poze ale animalutelor dumneavoastra. Trimiteti poza la adresa noastra de email afisata in pagina de contact a site ului  numele animalului si varsta acestuia.</h3>
            <h3  style="font-size:large"> Locul 1: </h3>
          <p style="font-size:medium">Jessie, 1 an 5 luni</p>
            
            <div class="row">

                <img src="~/Images/img_2.jpg" alt="2" style="width:45%">
            </div>
            <h3  style="font-size:large"> Locul 2: </h3>
            <p style="font-size:medium">
                Jeff, 2 ani</p>
                <div class="row">

                    <img src="~/Images/img_5.jpg" alt="5" style="width:45%">
                </div>

                <h3 style="font-size:large"> Locul 3: </h3>
                <p style="font-size:medium">
                    Oscar, 4 luni</p>
                    <div class="row">

                        <img src="~/Images/img_6.jpeg" alt="6" style="width:45%">
                    </div>


            </body>


            
