<head>
    <title>Articole si link-uri</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="~/css/style.css">

</head>


<body>

    <div class="wrapper">
        <article class="grid_7 suffix_1">
            <h2>Articole pe care le puteti achizitiona din incinta clinicii noastre</h2>
            <p style="font-size:120%;">
                Pe langa serviciile oferite la clinica noastra, va punem la dispozitie si o gama variata de articole si produse pentru ingrijirea si hranirea animalelor, cu multumirile sponsorilor nostri care ne
                sustin in fiecare zi.
            </p>

            <div>

                <a href="https://www.purina.ro/"><img src="~/Images/articles.JPG" alt="imagine cu chestii" style="width:50%" align="left" /></a>

                <p class="big" style="font-size:20px; color:black">
                    PURINA îmbunătățește continuu modul în care susține animalele să trăiască mai sănătos, mai fericit și pentru mai mult timp.
                    De peste 85 de ani, suntem unii dintre pionierii progresului științific pentru îngrijirea și hrănirea animalelor.
                    Echipa noastră de experți, formată din peste 400 de nutriționiști, oameni de știință, veterinari și specialiști în comportamentul animalelor, lucrează la o gamă enormă de inițiative, în patru centre importante din Europa și SUA.
                    Scopul final al muncii noastre este de a îmbunătăți fiecare aspect al sănătății și bunăstării animalului tău.
                    <br /> <br />PURINA a fost prima care a elaborat o soluție nutrițională dovedită clinic să reducă cerințele de insulină la pisicile diabetice. Gama PURINA Pro Plan Veterinary Diets DM Diabetes Management este disponibilă cu recomandarea medicului veterinar.
                    Suntem, în permanență, în căutare de inovații și nu ne vom opri din încercarea de a ne extinde înțelegerea asupra științei din spatele alimentației animalelor. Suntem dedicați avansării inovației în știința nutrițională veterinară, cu scopul final de a îmbunătăți continuu fiecare aspect al bunăstării animalului de companie, pentru a-l ajuta să se mențină fericit și sănătos.
                </p>
            </div>
            <div class="a1">
                <h2>Link-uri utile unde va puteti documenta despre animale:</h2>
            </div>
            <div class="wrapper">
                <div class="grid_7 suffix_1">
                    <h6 class="heading-1">Site-uri:</h6>
                    <ul class="list-2">
                        <li><a href="https://animalcorner.org/">Animal Corner</a></li>
                        <li><a href="http://www.polarbear-facts.co.uk/">Polar Bear Facts</a></li>
                        <li><a href="https://www.all-birds.com/">Birds</a></li>
                        <li><a href="https://www.animalutul.ro/">Animalutul</a></li>
                        <li><a href="https://kids.nationalgeographic.com/animals/">National Geographic</a></li>
                    </ul>
                    <div class="hr-border-3"></div>
                    <h6 class="heading-1">Pierderi Animale:</h6>
                    <ul class="list-2">
                        <li><a href="https://www.animalepierdute.ro/">Adoptii pierderi animale</a></li>
                    </ul>
                    <div class="hr-border-3"></div>
                    <h6 class="heading-1">Organizatii si asociatii:</h6>
                    <ul class="list-2">
                        <li><a href="https://www.facebook.com/Hope.Animal.Protection.Organization/">Asociatia pentru protectia animalelor</a></li>
                        <li><a href="https://sustine.wwf.ro/adopta-panda">Sustine ursii panda!!</a></li>
                    </ul>
                </div>
                <div class="grid_7 suffix_1">
                    <h6 class="heading-1">Produse pentru animale:</h6>
                    <ul class="list-2">
                        <li><a href="https://pentruanimale.ro/">Petshop pentru animale</a></li>
                        <li><a href="https://www.zooplus.ro/">Zooplus</a></li>
                        <li><a href="https://animax.ro/">Animax</a></li>
                        <li><a href="https://www.petsexpert.ro/">Pets Expert</a></li>
                        <li><a href="https://www.maxi-pet.ro/caini.aspx">Maxi Pet</a></li>
                        <li><a href="https://www.zoofast.ro/">Zoo Fast</a></li>
                    </ul>
                    <div class="hr-border-3"></div>
                    <h6 class="heading-1">Colaboratori si sponsori</h6>

                    <ul class="list-2">
                        <li><a href="https://www.purina.ro/">Purina pro Plan</a></li>
                        <li><a href="http://www.speedvet.ro/">Speedvet</a></li>
                        <li><a href="https://www.animalzoo.ro/">Animal Zoo</a></li>
                    </ul>
                </div>

            </div>
</body>

